@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

:root {
    --secundaria: #0984e3;
    --primaria: #55efc4;
    --jogadores: #a29bfe;
}
*{
    font-family: 'Roboto Mono', monospace;
    color: var(--secundaria);
}

/* Centralize o conteúdo na tela */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--primaria);
}


section {
    width: 100%;
}

#resultado {
    display: none;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    margin: 10px auto;
    background-color: var(--secundaria);
    font-size: 2.3rem;
    font-family: 'Roboto Mono', monospace;
    color: var(--primaria);

}

span {
    font-size: 2.3rem;
    font-family: 'Roboto Mono', monospace;
    color: var(--jogadores);
}

/* Adicione algum espaçamento para melhor visualização */
.container {
    margin-top: 20px;
}

/* Estilize os quadrados da matriz conforme necessário */
.cell {
    overflow: hidden;
    width: 50px;
    height: 50px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
}

.linha {
    margin-top: -10px;
}

.linha:not(:last-child) {
    border-bottom: solid 4px var(--secundaria);
}

.cell:not(:last-child) {
    border-right: solid 4px var(--secundaria);
    ;
}

.animate {
    animation: animate 0.2s ease-in-out;
}
.radio-buttons {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top: 5px solid var(--secundaria);
    border-left: 5px solid var(--secundaria);
    border-right: 5px solid var(--secundaria);
}

.container-form{
    padding: 0px 20px 10px 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom: 5px solid var(--secundaria);
    border-left: 5px solid var(--secundaria);
    border-right: 5px solid var(--secundaria);
}
.radio-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    padding: 10px 20px;
    /* justify-content: space-between; */
}

.radio-buttons label {
    display: flex;
    align-items: center;
    margin-right: 20px;
    /* Espaçamento entre os botões de rádio */
}

.radio-buttons input[type="radio"] {
    margin-right: 5px;
}

/* Estilo quando o botão de rádio está selecionado */
.radio-buttons input[type="radio"]:checked+label {
    color: #fff;
    /* Cor do texto quando selecionado */
    background-color: #3498db;
    /* Cor de fundo quando selecionado */
}

/* Estilo de hover para realçar a interação */
.radio-buttons label:hover {
    cursor: pointer;
    text-decoration: underline;
    /* Ou qualquer outra animação desejada */
}


#matrizContainer {
    overflow: hidden;
    height: auto;
    margin: 0 auto;
}


@keyframes animate {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}